# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: develop  ci

on:
  schedule:
    - cron: '0 0 */2 * *' # This triggers the workflow daily at midnight UTC
  workflow_dispatch: # Allows the workflow to be manually triggered
    inputs:
      GitUrl:
        description: 'ckb -git url'
        default: 'https://github.com/nervosnetwork/ckb.git'
      GitBranch:
        description: 'ckb -git branch'
        default: 'develop'
      CLIGitUrl:
        description: 'ckb-cli -git url'
        default: 'https://github.com/nervosnetwork/ckb-cli.git'
      CLIGitBranch:
        description: 'ckb-cli -git branch'
        default: 'develop'
      BuildCKb:
        description: 'build ckb'
        default: 'true'
      BuildCKbCLI:
        description: 'build ckb-cli'
        default: 'false'
      TestCases:
        description: 'test case: ex test_cases/ckb_cli'
        default: 'all'

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Install dependencies
      run: make develop_prepare
      env:
        GitUrl: '${{ github.event.inputs.GitUrl }}'
        GitBranch: '${{ github.event.inputs.GitBranch }}'
        CKBCLIGitUrl: '${{ github.event.inputs.CLIGitUrl }}'
        CKBCLIGitBranch: '${{ github.event.inputs.CLIGitBranch }}'
        BuildCKb: '${{ github.event.inputs.BuildCKb }}'
        BuildCKbCLI: '${{ github.event.inputs.BuildCKbCLI }}'


    - name: Run tests
      run: |
        if [ "${{ env.TestCases }}" == "all" ]; then
          make test
        else
          make develop_test
        fi
      env:
        TestCases:  '${{ github.event.inputs.TestCases }}'

    - name: Publish reports
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: jfoa-build-reports-${{ runner.os }}
        path: ./report
